.navigation-bar{
    margin: 0;
    padding: 0;
    background-color: #2AA7FF;
}

.navigation-bar p{
    text-align: center;
    width: 100%;
    color: #FFF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navigation-items{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #FFFFFF;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 9px 12px 0px #204A6912;
}

.navigation-items img{
    width: 5rem;
    height: 1.5rem;
}

.navigation-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    color: #102851;
}

.navigation-options button{
    background-color: #2AA7FF;
    border: none;
    width: 8rem;
    height: 2rem;
    border-radius: 0.5rem;
    color: #fff;
}


.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    height: 12rem;
    position: relative;
    margin-left: 20rem;
    margin-right: 20rem;
    z-index: -1;
}

.hero-section h5{
    color:#102851;
}

.hero-text{
    font-size: large;
    width: 25rem;
}

.hero-section h1{
    font-weight: bold;
    margin-right: 1rem;
}

#centers-blue{
    color: #2AA7FF;
}

.hero-section img{
    width: 20rem;
}

.medical-center-text div{
    display: flex;
}

.medical-center-text p{
    font-size: small;
    color: #5C6169;
}

.medical-center-text button{
    border: none;
    background-color: #2AA7FF;
    color: #FFF;
    width: 6rem;
    height: 1.5rem;
    border-radius: 0.2rem;
}

.searchbar-and-icons{
    position: relative;
    margin-left: 20rem;
    margin-right: 20rem;
    padding-top: 0.5rem;
    width: 46rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #FFF;
    border-radius: 0 0 0.5rem 0.5rem;
}

.searchbars-and-button{
    display: flex;
    gap: 2.5rem;
    margin-left: 20rem;
    width: 46rem;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #FFF;
    z-index: 1;
}

.searchbars-and-button div{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.searchbars-and-button div img{
    width: 1rem;
    height: 1rem;
}

.searchbars-and-button div select{
    width: 15rem;
    height: 2rem;
    border: none;
}

.searchbars-and-button div button{
    width: 6rem;
    height: 2rem;
    background-color: #2AA7FF;
    border: none;
    border-radius: 0.2rem;
}

.searchbar-and-icons p{
    color: #102851;
    font-weight: 500;
    text-align: center;
}

.icons-under-search{
    display: flex;
    gap: 5rem;
}

.icons-under-search div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-under-search img{
    width: 2rem;
}

.specialisation{
    margin-top: 5rem;
}

.specialisation h2{
    color: #102851;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
}

.specialisation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialisation-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70rem;
    margin-top: 2rem;
}

.specialisation-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 15rem;
    height: 10rem;
    background-color: #fff;
    box-shadow: 0px 34px 44px 0px #D5DBE470;

}

.specialisation-icon img{
    width: 4rem;
    height: 4rem;
}

.specialisation-icon p{
    margin-top: 0.5rem;
    color:#ABB6C7;
    font-size: small;
}

.specialisation button{
    background-color: #2AA7FF;
    width: 6rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
}

.offer-cards img{
    width: 20rem;
}

.specialists{
    margin-top: 2rem;
}

.specialists h2{
    color: #102851;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
}

.specialists{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.specialists-cards{
    width: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialists-cards img{
    width: 12rem;
}

/* .specialists-cards h6{
    text-align: center;
} */

.specialist-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.consultation-layout-img{
    display: flex;
    flex-direction: column;
    width: 30rem;
    margin-left: 15rem;
    height: 15rem;
    /* position: absolute; */
}

.consulation-popup{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 13rem;
    position: absolute;
    margin-top: 5rem;
    border-radius: 0.5rem;
    z-index: 1;
    background-color: #FFF;
}

.consulation-popup img{
    width: 2rem;
}

.consulation-popup h5{
    font-weight: bold;
}

.consulation-popup p{
    font-size: small;
    color: #77829D;
}

#consultation1{
    width: 20rem;
    height: 15rem;
    margin-left: 7.5rem;
    position: absolute;
    border: 5px solid white;
}

#consultation2{
    width: 20rem;
    height: 15rem;
    position: relative;
    z-index: 1;
    margin-top: 12rem;
    border: 5px solid white;
}

.consultation-layout{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.consulation-layout-text{
    margin-left: 2rem;
    margin-top: 2rem;
    width: 30rem;
}

.consulation-layout-text h3{
    font-size: small;
    font-weight: 600;
    color: #2AA7FF;
}

#consulation-heading-1{
    display: inline;
    margin-right: 0.5rem;
    color: #1B3C74;
    font-weight: 600;
}

#consulation-heading-2{
    display: inline;
    color: #2AA7FF;
    font-weight: 600;
}

.consulation-layout-text p{
    color: #77829D;
}

.consulation-highlights{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 2rem;
}

.consulation-highlights img{
    width: 2rem;
}

.consulation-highlights h6{
    font-size: medium;
    color: #1B3C74;
    font-weight: 500;
}

.blog-and-news{
    padding-top: 2rem;
    margin-top: 5rem;
    text-align: center;
    background-color: #FFF;
    height: 32.5rem;
}

.blog-and-news-p{
    color: #2AA7FF;
}

.blog-and-news h1{
    color: #1B3C74;
    font-weight: 600;
}


.blog-cards{
    display: flex;
    justify-content: space-evenly;
    color: #1B3C74;
}

.blog-card{
    width: 20rem;
}

.blog-card p{
    text-align: left;
}

.blog-card-img{
    width: 20rem;
}

.card-date-and-title{
    display: flex;
    gap: 1rem;
}

.card-doctor{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.card-doctor img{
    width: 3rem;
}

.card-date-and-title h6{
    color:#77829D;
}

.MotoAndHighlights{
    display: flex;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    gap: 10rem;
}

.moto{
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.moto-highlights{
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    margin-left: 5rem;
}

.moto-highlight{
    width: 10rem;
    height: 10rem;
    box-shadow: 0px 15px 45px -5px #00000012;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.moto-highlight img{
    width: 2rem;
}

.moto-highlight h1{
    font-weight: 600;
}

.moto-highlight h6{
    color:#77829D;
}

.moto-highlights-group2{
    margin-top: 2rem;
}

.moto h5{
    color: #2AA7FF;
    font-weight: 600;
}

.moto h1{
    color: #1B3C74;
    font-weight: 600;
}

.moto h6{
    color: #77829D;
}

.moto-highlight h1{
    color:#1B3C74;
}

.faq-imgs-div{
    display: flex;
    /* flex-direction: row; */
    margin-left: 5rem;
}

.faq-imgs{
    display: flex;
    justify-content: flex-start;
    width: 40rem;
}

.smiley{
    display: flex;
    width:10rem;
    height: 3rem;
    align-items: center;
    z-index: 1;
    background-color: #FFF;
    position: absolute;
    border-radius: 0.5rem;
    box-shadow: 0px 15px 35px -5px #00000012;
    margin-top: 15rem;
    padding-left: 0.5rem;
}

.smiley img {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1rem;
}


.faqmainimage{
    width: 25rem;
    margin-left: 2rem;
}

.faqheart{
    height: 3.5rem;
    width: 3.5rem;
    z-index: 1;
    position: absolute;
    margin-top: 10rem;
    margin-left: 23rem;
    background-color: #FFF;
    padding: 0.5rem;
    border-radius: 50%;
}

.faqs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5rem;
    margin-left: 1rem;
}

.faqs h5{
    margin-bottom: 2rem;
}

.download{
    display: flex;
    gap: 1rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.mobiles{
    height: 25rem;
}

.curvedarrow{
    height: 7.5rem;
    margin-top: 2rem;
}

.download h1{
    color:#1B3C74;
    font-weight: 600;
}

.download-heading2{
    display: flex;
    gap: 0.5rem;
}

.download-text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.mobile-number{
    display: flex;
}

.mobile-number p{
    background-color: #FFF;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #B4B4BE4D;
    border-radius: 0.5rem 0 0 0.5rem;
}

.mobile-number input{
    border: none;
    width: 15rem;
    height: 2rem;
    border-radius: 0 0.5rem 0.5rem 0;
    padding-left: 0.5rem;
}

.mobile-number button{
    margin-left: 1rem;
    background-color: #2AA7FF;
    width: 6.5rem;
    border: none;
    color: #FFF;
    border-radius: 0.5rem;
}

.download-stores{
    display: flex;
    gap: 2rem;
}

.download-stores img{
    width: 10rem;
}

.footer-container{
    background-color: #102851;
    padding-left: 10rem;
    padding-right: 5rem;
    padding-top: 5rem;
}

.footer-imgs{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 2rem;
}

.footer-imgs img{
    height: 2rem;
}

.follow-on{
    display: flex;
    gap: 1rem;
}

.footer-container p{
    color: #FFf;
    font-weight: 400;
    font-size: small;
    border-top: 1px solid #FFFFFF1A;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.img-and-points{
    display: flex;
    gap: 25rem;
    margin-bottom: 2rem;
}

.footer-points{
    display: flex;
    flex-direction: column;
    height: 11rem;
    gap: 1rem 2rem;
    flex-wrap: wrap;
    color: #FFF;
}

.search-results-top{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 5rem;
}

.bookings{
    display: flex;
    gap: 0.5rem;
}

.bookings img {
    width: 1rem;
}

.card-and-slots{
    box-shadow: 0px 15px 35px -5px #00000012;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    width: 50rem;
    margin-left: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hospital-card{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 1rem;
}

.slot-headers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hospital-card img{
    width:7.5rem;
    height:7.5rem;
}

.hospital-card-text{
    width: 25rem;
}

.ratings{
    background-color: #00A500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #FFF;
    width: 3rem;
    height: 2rem;
    padding-left: 0.2rem;
    border-radius: 0.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ratings img{
    width: 0.8rem;
    height:0.8rem;
}

.offer-fee{
    display: flex;
    gap: 0.5rem;
}

.booking-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    margin-top: 7rem;
    margin-right: 2rem;
}

.booking-button h5{
    color: #00A500;
    font-weight: 600;
    width: 10rem;
    text-align: center;
}

.booking-button button{
    background-color: #2AA7FF;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #FFF;
    font-size:small;
    border: none;
    width: 10rem;
    height: 3rem;
    border-radius: 0.2rem;
    margin-bottom: 2rem;
}

.slot-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.slot-header h6{
    color: #00A500;
}

.sessions{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.slot-buttons button{
    border: 1px solid #2AA7FF;
    color:#2AA7FF;
}

.sessions-and-slots{
    display: flex;
}

.slot-buttons{
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3rem;
}

.slot-buttons button{
    margin-right: 3rem;
    width: 5rem;
    height: 2rem;
    border-radius: 0.2rem;
}

.my-bookings-header h1{
    padding-top: 1rem;
    background-color: #2AA7FF;
    height: 5rem;
    color: #FFF;
    font-weight: 600;
    padding-left: 5rem;
    z-index: -1;
    position: absolute;
    width: 100%;
}

.booking-search{
    display: flex;
    align-items: center;
    z-index: 1;
    position: relative;
    width: 40rem;
    height: 4rem;
    background-color: #FFF;
    padding-left: 2rem;
    margin-left: 30rem;
    margin-top: 3rem;
    border-radius: 0.5rem 0.5rem 0 0;
    margin-bottom: 2rem;
}

.booking-search button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2AA7FF;
    height: 2rem;
    width: 6rem;
    border: none;
    border-radius: 0.2rem;
    color: #FFF;
}

.booking-search input{
    width: 30rem;
    height: 2rem;
    padding-left: 1rem;
    border: none;
}

.booking-search img{
    height: 1rem;
}

.booking-card{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    box-shadow: 0px 15px 35px -5px #00000012;
    width: 50rem;
    margin-left: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.booking-card img{
    width: 7.5rem;
    height: 7.5rem;
}

.booking-ratings{
    background-color: #00A500;
    display: flex;
    width: 3rem;
    height: 2rem;
    justify-content: center;
    align-items: center;
    color: #FFf;
    gap: 0.3rem;
    margin-top: 1rem;
    border-radius: 0.2rem;
}

.booking-ratings img{
    width: 1rem;
    height: 1rem;
}

.booking-card-text{
    width: 25rem;
}

.booking-date-and-time{
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
}

.booking-date-and-time p{
    height: 2rem;
    width: 6rem;
    text-align: center;
    vertical-align: center;
    border-radius: 0.2rem;
}

.booking-date-and-time :first-child{
    color: #00A500;
    border: 1px solid #00A500;
}

.booking-date-and-time :last-child{
    color:#2AA7FF;
    border: 1px solid#2AA7FF;
}

.limitedoffer{
    height: 20rem;
}